.coffeeloader{ 
    height: 50px;
    width: 40px;
    margin-top: 12%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: linear-gradient(to bottom left,#f7941e,#fc9619);
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;
}
.coffeeloader::before {
      position: absolute;
      content: '';
      right: -15px;
      top: 5px;
      height: 25px;
      width: 10px;
      background: transparent;
      border: 5px solid #F7941E;
      border-left: 5px solid transparent;
      border-bottom: 5px solid darken(#f7941e, 7.5%);
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      z-index: 10;
    }
.coffeeloader::after{
      position: absolute;
      content: '';
      width: 5px;
      height: 30px; 
      background: #e1e1e1;
      border-radius: 4px;
      top: -30px;
      box-shadow: 35px 0px 0 #e1e1e1, 17.5px -15px 0 #e1e1e1;
      animation: steam 3s ease infinite;
      opacity: 1;
    }

  @keyframes steam{
    
    100%{
      top: -40px;
      background: #eeeeee;
      box-shadow: 35px 0px 0 #eeeeee,
                  17.5px -15px 0 #eeeeee;
      opacity: 0.25;
    }
  }
.loadingarea h3{
    text-align: center;
    margin-top: 5%;
    text-shadow: 2px 2px 5px white;
}
.loading {
  position:absolute;
  top:72%;
  left:60%;
  transform:translateY(-50%) translateX(-50%);
  color: brown;
}

.object {
  animation:scaling 2s infinite;
  -webkit-animation:scaling 2s infinite; 
  width: 10px;
  height: 10px;
  background-color: brown;
  display:inline-block;
  border-radius: 50% 50% 50% 50%;
  opacity:1;
}
.object_two {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.object_three {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
    
@-webkit-keyframes scaling {
    75% { 
      -webkit-transform:  scale(0.8);
      opacity:0.4;
    }
}

@keyframes scaling {
    75% { 
      transform: scale(0.8);
      opacity:0.4;
    }
}